body{
    width: 100%;
}

header, footer{
    border: 2px solid black;
    background: rgb(45,253,149);
    background: -moz-linear-gradient(180deg, rgba(45,253,149,1) 0%, rgba(34,193,195,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(45,253,149,1) 0%, rgba(34,193,195,1) 100%);
    background: linear-gradient(180deg, rgba(45,253,149,1) 0%, rgba(34,193,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1376d0",endColorstr="#22c32f",GradientType=1); 
}

marquee{
    border: 2px solid white;
}

img{
    height: 250px;
    width: 250px;
    clip-path:ellipse(50% 50%);
}

section{
    border: 1.5px solid transparent;
    width: 70%;
    margin: auto;
    border-radius: 40px;
    display: flex;
}

#japon{
    background: rgb(86,166,241);
    background: -moz-linear-gradient(180deg, rgba(86,166,241,1) 0%, rgba(191,129,148,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(86,166,241,1) 0%, rgba(191,129,148,1) 100%);
    background: linear-gradient(180deg, rgba(86,166,241,1) 0%, rgba(191,129,148,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22b2c3",endColorstr="#d01313",GradientType=1);
}

#thailande{
    background: rgb(70,134,195);
    background: -moz-linear-gradient(180deg, rgba(70,134,195,1) 0%, rgba(97,227,194,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(70,134,195,1) 0%, rgba(97,277,194,1) 100%);
    background: linear-gradient(180deg, rgba(70,134,195,1) 0%, rgba(97,277,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1376d0",endColorstr="#22c32f",GradientType=1); 
}

#inde{
    background: linear-gradient(to top, rgb(226,132,23) 50%, rgb(92,144,181) 50%);
    background: rgb(92,144,181);
    background: -moz-linear-gradient(180deg, rgba(92,144,181,1) 0%, rgba(226,132,23,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(92,144,181,1) 0%, rgba(226,132,23,1) 100%);
    background: linear-gradient(180deg, rgba(92,144,181,1) 0%, rgba(226,132,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1376d0",endColorstr="#22c32f",GradientType=1);
}

.divjapon, .divinde, .divthailande, h1, marquee, p{
    color: white;
}

#japon img, #inde img{
    justify-content: left;
}

.divjapon{
    margin: 100px;
    width: 450px;
}

#japon img{
    margin: auto;
}

#japon div{
    width: 40%;
}

.divthailande{
    margin: 50px;
    text-align: center;
}

#thailande{
    display: flex;
    flex-direction: row-reverse;
}

#thailande img{
    margin: auto;
}

.divinde{
    margin: 50px;
    text-align: right;
}

#inde img{
    margin: auto;
}

footer span{
    display: flex;
    flex-direction: row-reverse;
}

footer span i{
    letter-spacing: 15px;
}