body{
    font-size: 25px;
}

#conteneur{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color:red;
    height: 65px;
    text-align: center;
    line-height: 70px;
}

.a{
    width: 14%;
    height: 750px;    
    float: left;
    text-align: center;
    line-height: 750px;
    background-color: dodgerblue;
    border: 2.5px solid black;
}

.v1, .v2, .v3, .v4, .v5{
    width: 14.03%;
    height: 650px;    
    float: left;
    text-align: center;
    line-height: 750px;
    background-color: green;
    border: 2.5px solid black;
}

.b{
    width: 14%;
    height: 750px;    
    float: right;
    text-align: center;
    line-height: 750px;
    background-color: dodgerblue;
    border: 2.5px solid black;
}

.Bas{
    width: 1215px;
    height: 100px;    
    float: left;
    text-align: center;
    line-height: 100px;
    background-color:yellow;
}